.idea
frontend/node_modules
__pycache__/
venv/
npm-debug.log
*.pyc
frontend/npm-shrinkwrap.json
/.ipynb_checkpoints/
templates/index.html
.moviesenv
.env
backend/.env
frontend/src/config.js
frontend/etc/
/modules/code/
/files/static
frontend/assets/
.vs/
*.bak
ghostdriver.logs
pip_packages/
frontend/.cache/
*.h5
geckodriver.log
ghostdriver.log
venv_linux/
files/static/*
templates/static/
/media/
/frontend/node_modules/
*.profile

*/logs/
*.cfg
backend/static
backend/templates
static
