$dimensionsColor: rgb(207, 89, 144);
$dimensionsBackgroundColor: rgba(207, 89, 144, 0.2);
$measuresColor: rgb(255, 67, 0);
$measuresBackgroundColor: rgba(255, 67, 0, 0.2);
$datesColor: rgb(0, 173, 255);
$datesBackgroundColor: rgba(0, 173, 255, 0.2);
$variablesColor: rgb(100, 108, 217);
$variablesColorSecondary: rgb(128, 128, 128);
$variablesBackgroundColor: rgba(128, 128, 128, 0.2);
$variablesBackgroundColor: rgba(100, 108, 217, 0.2);
$chartsColor: rgb(4, 51, 83);
$chartsBackgroundColor: rgba(4, 51, 83, 0.2);
$dataFunctionsColor: rgb(4, 51, 83);
$dataFunctionsBackgroundColor: rgba(4, 51, 83, 0.2);
$functionsColor: rgb(57, 0, 153);
$functionsBackgroundColor: rgba(57, 0, 153, 0.2);