@font-face {
  font-family: "Varela Round";
  src: url("../fonts/VarelaRound-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}


@import "auth/bootstrap";
@import "auth/button";
@import "auth/default";
@import "auth/global";
@import "auth/normalize";
@import "auth/form";
